/* Header
*******************************/
header.top {
	min-height : 130px;
	width  : 970px;
	margin : 0 auto; 
}

header.top div.top {
	width  : 970px;
	height : 100px;
	padding-top : 28px;
}

header.top div.top h1.logo{
	color  : transparent;
	width  : 0;
	height : 84px;
	padding-right : 200px;  /*or ==> text-indent: 100%;*/
	overflow : hidden;
	background-image : url('images/logo.jpg');
	background-repeat: no-repeat;
}

header.top div.top div.contact {
	width  : 450px;
	height : 70px;
	padding-top : 20px;
}

header.top address.address{
	width  : 210px;
	height : 50px;
}

header.top address.address li {
	margin-bottom	: 5px;
	font-size       : 13px;
	text-align 		: left;
	font-family     : arial;
	direction		: ltr;
	font-style 	    : normal !important;
}

header.top address.address li.sec {
	color : #888;
}

header.top div.social{
	height : 30px;
	border : 1px solid #eee;
	border-radius : 5px;
}

header.top div.social li {
	float : left;
	width : 40px;
	height: 30px;
	background-repeat: no-repeat;
	background-position : center top;
	border-left : 1px solid #eee;
}

header.top div.social li:first-child {
	border-left : none;
	border-radius : 5px 0 0 5px;
}

div.social li.last-child {
	border-radius : 0 5px 5px 0;	
}

header.top div.social li:hover {
	background-color    : #72AC4B;
	background-position : center bottom;
}

header.top div.social li a {
	width   : 20px;
	height  : 20px;
	padding : 5px 10px;
	display : block;
}

header.bottom{
	border-top 	  : 1px solid #eee;
	border-bottom : 1px solid #eee;
	position      : relative;
}

div.nav-shadow {
	position: absolute;
	left    : 0px;
	top 	: 100%;
	width 	: 100%;
	height  : 19px;
	background-image    : url('images/slider_shadow_bottom.png');
	background-repeat   : no-repeat;
	background-position : center top;

}

header.bottom div.menu-container {
	width  : 970px;
	margin : 0 auto;
}

header.bottom nav {
	float  : right; 
	width  : 600px;
	height : 50px;
}

nav menu {
	list-style-type : none;
}

nav menu li {
	float  : right;
	border-right : 1px solid #eee;
	position : relative;
}

nav menu li div.top-green {
	position : absolute;
	z-index  : 2;
	bottom   : 100%;
	right    : 0;
	width    : 100%;
	height   : 3px;
	background-color : #72AC4B;
	display : none;
}

nav menu li.active  div.top-green {
	display : block;
}

nav menu li:hover div.top-green {
	display : block;
}

nav menu li a {
	color   : #555;
	display : block;
	text-decoration : none;
	font-size       : 18px;
	font-family     : Arial, Helvetica;
	padding 		: 16px 15px; 
}

nav menu li a:hover {
	color : #72AC4B;
}

header.bottom form {
	margin-top : 13px;
	width : 300px;
} 

header.bottom form input {
	width : 200px;
	border-radius : 10px;
	height : 20px;
	background-image : url('images/search.png');
	background-repeat: no-repeat;
	background-position : right 2px;
	padding  : 0 20px;
}
/* Slider
*******************************/

div.banner-container {
	background-image  : url('images/slider-bg.jpg');
	background-color : #F4F4F4;
	background-repeat : repeat-x;
	padding-top 	  : 50px;
	min-height		  : 700px;
	border-bottom	  : 1px solid #999;
}

div.banner-container div.back {
	min-height : 600px;
	width      : 970px;
	margin     : 0 auto;
	background-color : #fefefe;
	border		: 1px  solid #aaa;
	position    : relative;
}

div.banner {
	min-height  : 500px;
	width  		: 870px;
	margin      : 50px auto;
	position    : relative;
	overflow	: hidden;
}

div.banner div.train {
	width  	   : 4000px;
	min-height : 500px;
	position : absolute;
	left     : 0;
	top      : 0;
	-webkit-transition : left 800ms ease-in-out;
	-moz-transition    : left 800ms ease-in-out;
	-o-transition      : left 800ms ease-in-out;
	-ms-transition     : left 800ms ease-in-out;
}

div.banner div.train > div {
	min-height  : 500px;
	float       : left;
	width       : 870px;
	background-size   : cover;
	background-position : center center;
	background-repeat : no-repeat;
}

div.back div.shadow {
	background-repeat: no-repeat;
	position : absolute;
}

div.back div.left {
	background-image : url('images/sh_l.png');
	right   : 100%;
	top 	: 0;
	width 	: 19px;
	height  : 600px;	
}

div.back div.right {
	background-image : url('images/sh_r.png');
	left    : 100%;
	top 	: 0;
	width 	: 19px;
	height  : 600px;	
}

div.back div.bottom {
	background-image : url('images/slider_shadow_bottom.png');
	left    : 0;
	top 	: 100%;
	width 	: 970px;
	height  : 19px;
}

div.back div.ribbon {
	background-image  : url('images/slider-ribbon.png');
	top   : -3px;
	right : -5px;
	width : 140px;
	height: 142px;
	z-index : 3;
}

div.back ul.btns{
	height     : 20px;
	list-style : none;
	position   : absolute;
	left       : 427px;
	bottom 	   : 15px;
}

div.back ul.btns li{
	float  : left;
	width  : 20px;
	height : 20px;
	cursor : pointer;
	background-image  : url('images/btn.png');
	background-repeat : no-repeat;
	background-position : left top;
	/*box-shadow : inset 0 0 0 2px #D4AF37;*/
	/*box-shadow :  0 0 0 1px #72AC4B;*/
	/*box-shadow :  0 0 0 1px #000 ,  0 0 0 1px #555 , 0 0 0 1px #999 , 0 0 0 1px #eee , 0 0 0 1px #fff;*/
	margin-right       : 5px;
	border-radius      : 10px;
	-webkit-transition : all 1100ms;
	-moz-transition    : all 1100ms;
	-o-transition      : all 1100ms;
	-ms-transition     : all 1100ms;
}

div.back ul.btns li:hover, 
div.back ul.btns li.active{
	background-position : left bottom;
	/*-webkit-transition-duration : 200ms;
	-moz-transition-duration    : 200ms;
	-o-transition-duration      : 200ms;
	-ms-transition-duration     : 200ms;*/
}

div.banner div.previous,
div.banner div.next{
	position : absolute;
	top      : 235px;
	width    : 30px;
	height   : 30px;
	opacity  : 0;
	cursor   : pointer;
	background-image   : url('images/arrow.png');
	background-repeat  : no-repeat;
	-webkit-transition : opacity 500ms;
	-moz-transition    : opacity 500ms;
	-o-transition      : opacity 500ms;
	-ms-transition     : opacity 500ms;
}

div.banner:hover div.previous,
div.banner:hover div.next{
	opacity : 1;
}

div.banner div.previous{
	background-position : 0px 0px;
	left : 10px;
}
div.banner div.next{
	right : 10px;
	background-position : -30px 0px;
}


/* Articles
*******************************/
div.content-container {
	background-color : #FFF;
}
div.content {
	width      : 970px;
	min-height : 390px;
	padding-top: 50px;
	margin     : 0 auto;
}

div.content article {
	width  : 300px;
	height : 340px;
	text-align : right;
}

div.content article h2 {
	color : #333;
	/*text-shadow:0px 0px 0 rgb(-204,-204,-204), 0px 1px 0 rgb(-459,-459,-459);*/

}

div.content article > img {
	margin        : 20px 0;
	box-shadow    : 0 0 8px #72AC4B;
	border-radius : 3px;
}

div.content article p {
	color 		: #444;
	line-height : 22px;
	font-size   : 13px;
}

div.content article a {
	float : left;
}

div.content article.second {
	margin-right : 36px;
}

div.content article.guest {
	margin-right : auto;
}

/* Footer
*******************************/
footer {
	background-color : #F4F4F4;
	border-top	     : 1px solid #999;
}

footer div.footer{
	width      : 970px;
	padding-top: 20px;
	min-height : 40px;
	margin     : 0 auto;
}

footer div.copyright {
	width     : 500px;
	height    : 20px;
}

footer div.copyright p { 
	direction : ltr;
	font-weight     : bold;
}

footer div.menu {
	width : 400px;
	height: 20px;
}


footer menu li {
	float  : right;
	margin-right: 20px;
}

footer menu li:first-child {
	margin-right: 0;
}

footer menu li a {
	color   : #333;
	text-decoration : none;
	font-size       : 15px;
	font-weight     : bold;
	font-family     : Arial, Helvetica;
}

footer menu li.active a {
	color : #72AC4B;
}

footer menu li a:hover {
	color : #72AC4B;
}



/* about us page
****************************************/
div.aboutus-container{
	background-image : url('images/bg.jpg');
}

div.content-aboutus{
	width      : 970px;
	min-height : 390px;
	padding-top: 50px;
	margin     : 0 auto;
}

/* order page
****************************************/

div.order-container{
	background-image : url('images/bg.jpg');
}

div.content-order{
	width      : 970px;
	min-height : 390px;
	padding-top: 50px;
	margin     : 0 auto;
}

/* comments page
****************************************/
div.comments-container{
	background-image : url('images/bg.jpg');
}

div.content-comments{
	width      : 970px;
	min-height : 390px;
	padding-top: 50px;
	margin     : 0 auto;
}